.stddetails h6 {
    font-size: 20px;
}
.stddetails {
    display: grid;
    grid-template-columns: repeat(4,20%);
    justify-content: center;
    box-sizing: content-box ;
}
.stdinfo{
    text-align: center;
    border-style: solid;
    border-color: black;
    margin-inline: 190px;
    border-width: 5px;
}